body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

div > label {
  display: inline-block;
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #555;
}

input[type="file"] {
  border: none;
  padding-left: 0;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  margin-right: 20px;
  font-size: 16px;
}

.save-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #218838;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
  margin: auto;
}

.user-card {
  width: 85%;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  margin: auto;
}

.user-card:hover {
  transform: translateY(-5px);
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #333;
  margin-bottom: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555;
  margin: 8px 0;
  line-height: 1.5;
}

strong {
  font-weight: 600;
  color: #333;
  margin-right: 6px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  padding: 10px 14px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #ff301b;
  transform: translateY(-2px);
}

.user-photo {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 10px 0;
}

.update-button {
  background-color: #ffc107;
}

.update-button:hover {
  background-color: #ffa000;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.no-record {
  text-align: center;
}

.header {
  text-align: center;
}
